@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <center><h1>Othello</h1></center>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Othello_%28Reversi%29_board.jpg" width="500" height="250">
                </div>
                <div class="col">
                    El reversi, othello o yang es un juego entre dos personas, que comparten 64 fichas iguales,
                    de caras distintas, que se van colocando por turnos en un tablero dividido en 64 escaques.
                    Las caras de las fichas se distinguen por su color y cada jugador tiene asignado uno de esos colores,
                    ganando quien tenga más fichas sobre el tablero al finalizar la partida. Se clasifica como juego de tablero,
                    abstracto y territorial; al igual que el go y las amazonas.
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h3>Reglas</h3>
            En el othello, al igual que en el reversi, se emplea un tablero de 8 filas por 8 columnas y 64 fichas idénticas, redondas, blancas por una cara y negras por la otra (u otros colores). Las casillas se denotan numerando las columnas, comenzando por la esquina superior izquierda del tablero, con letras de la A a la H, e igual con las filas, pero con números del uno al ocho. A un jugador se le asigna un color y se dice que lleva las fichas de ese color, lo mismo para el adversario con el otro color.

            En el otelo, de inicio, se colocan cuatro fichas tal como se ve en el diagrama de la izquierda: dos fichas blancas en D4 y E5, y dos negras en E4 y D5. En el reversi estas cuatro casillas comenzarían vacías y se irían ocupando alternativamente, típicamente comenzando por el jugador que lleva las fichas negras. Esta es la primera diferencia entre las reglas del reversi y del otelo: una única restricción en la apertura (los diagramas de abajo muestran las dos posibles aperturas, no siendo posible la segunda en el otelo).
            <br/>
            <br/>
            <center>
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Inicio_del_reversi.png" />
            </center>
        </div>
    </div>
</div>

