
@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/MenuUsuario.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <br>
                <br>
                <br>
                <img src="https://sites.google.com/site/asothello/_/rsrc/1255883616155/como-jugar/Reglas1.jpg" />
            </div>
            <div class="col-4">
                <center><h1>Othello</h1></center>
                <br>
                <br>
                <br>
                <br>
                <div class="col-xs-6 my-auto">
                    <button type="button" class="btn btn-info btn-lg btn-block">Jugar</button>
                    <button type="button" class="btn btn-info btn-lg btn-block">Crear Sala</button>
                    <button type="button" class="btn btn-info btn-lg btn-block">Crear Torneo</button>
                    <button type="button" class="btn btn-info btn-lg btn-block">Cargar Partida</button>
                </div>
            </div>
            <div class="col-4">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Usuarios Conectados</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Usuario A</td>
                        <td><button type="button" class="btn btn-success">Invitar</button></td>
                    </tr>
                    <tr>
                        <td>Usuario B</td>
                        <td><button type="button" class="btn btn-success">Invitar</button></td>
                    </tr>
                    <tr>
                        <td>Usuario C</td>
                        <td><button type="button" class="btn btn-success">Invitar</button></td>
                    <tr>
                        <td>Usuario D</td>
                        <td><button type="button" class="btn btn-success">Invitar</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

