@{
    ViewData["Title"] = "Ingresar";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div id="alerta" style="display: none">
                        <div class="alert alert-danger" role="alert">
                            ¡Credenciales incorrectas!
                        </div>
                    </div>
                    <h5 class="card-title text-center">Ingresar</h5>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                        <input type="text" id="txtUsuario" class="form-control" name="username" placeholder="Usuario">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-key"></span></span>
                        <input type="password" id="txtClave" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <br>
                    <button class="btn btn-lg btn-outline-primary btn-block" id="btnEntrar" onclick="llamar()"><i class="fa fa-sign-in"></i>Ingresar</button>




                </div>
            </div>
        </div>
    </div>
</div>
<sript src="~/js/login.js"></sript>